@import "tailwindcss";

@font-face {
  font-family: "valentiamo";
  src: url("../assets/fonts/valentiamo/Valentiamo-Regular.woff2");
}

@font-face {
  font-family: "manrope-bold";
  src: url("../assets/fonts/manrope/bold.otf");
}

@font-face {
  font-family: "manrope-medium";
  src: url("../assets/fonts/manrope/medium.otf");
}

@font-face {
  font-family: "manrope-regular";
  src: url("../assets/fonts/manrope/regular.otf");
}

@font-face {
  font-family: "manrope-light";
  src: url("../assets/fonts/manrope/light.otf");
}

@font-face {
  font-family: "manrope-semibold";
  src: url("../assets/fonts/manrope/semibold.otf");
}

@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/Satoshi-Variable.ttf");
}

.heroBg {
  background-image: url("../assets/svgs/heroBg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@theme inline{
  --font-valentiamo: "valentiamo";
  --font-manrope-bold: 'manrope-bold';
  --font-manrope-medium: 'manrope-medium';
  --font-manrope-regular: "manrope-regular";
  --font-manrop-light: "manrope-light";
  --font-manrope-semibold: "manrope-semibold";
  --font-satoshi: "satoshi";
}
